<header class='header light-blue lighten-2'>
  <div class='btn blue darken-3'>RPS - Arcade</div>
</header>
<div class='play-area'>
  {{moving-background}}
  {{music-player}}
  {{rps-board}}
</div>
{{outlet}}
